<div class='container-fluid'>
  <h1 class='title'>Booking Info</h1>
  <div class='card'>
    <p>For more details and booking info, click here <%= link_to "VRBO", "https://www.vrbo.com/76410", :target => "_blank" %></p>
  </div>
</div>

