<div class="card home-card"
  <p>
    This is one of the finest homes in the Sundance Resort area. It is located less than one mile from the ski lifts, thus making it very accessible to the activities of the resort, yet far enough away to give you the privacy and quietness one would expect in the beautiful Rocky Mountains. Truly, a place to build memories that will last a lifetime.
  </p>
  <p>
   We are located just minutes away from the Provo river, known for its great brown trout fishing. Park City is a fun town just a short 25 minute drive where you can find more skiing, the alpine slide (summer), hiking, biking, golfing, and great restaurants. Outlet stores there are open year round. This was home for the 2002 Olympic ski jumping the luge events. Wasatch State Park located just minutes from Heber City is beautiful in summer and has gorgeous golf courses, it also is a great place to go snowmobiling in the winter. This will be the home for the cross country ski event. Click below to see availible dates and additional information on the property.
  </p>

<p><%= link_to "Booking Details", "https://www.vrbo.com/76410", class: "vrbo-btn btn btn-lg btn-primary" %></p>

  </div>  

<%= render 'shared/carousel' %>

<%= link_to "All photos", pages_photo_path, class: "photo-btn btn btn-lg btn-primary" %></p>


</div>